/_posts/$post
*.lock
_site/*
/_posts/monad-comonad.agda
/_posts/monad-comonad.hs
/_posts/permutations.hs
/_posts/simplified-linear-cat/commands.tex
/_posts/simplified-linear-cat/double.tex
/_posts/simplified-linear-cat/note.pdf
_drafts/*
/draft/feed.xml
/markdown/ct-notes/Universal-Properties/note-old.tex
/markdown/ct-notes/Universal-Properties/note.html
/markdown/ct-notes/Universal-Properties/Universal_Properties.pdf
*-ottput.*
/markdown/ct-notes/Universal-Properties/note.tex
