---
layout: default
title: Metatheorem
sitemap:
    priority: 0.9
    changefreq: monthly
---

{% assign collection = site.posts | sort: "date" | reverse %}
<div class="list-group">
  {% for post in collection %}
  
  <div class="list-group-item">
    {% if post.title %} <a href="/blog{{ post.url }}"><h3>{{ post.title }}</h3></a> {% endif %}
    {% if post.date %} {{ post.date | date: "%d %B %Y" }} {% endif %}
    | <a href="http://heades.github.io/blog/index.html#disqus_thread" data-disqus-identifier="blog/{{ post.url }}">Coments</a>
  </div>  
{% endfor %}
</div>
